@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');

* {
    box-sizing: border-box;
}
body {
    margin: 0;padding: 0;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
p {
    line-height: 1.5em;
}
.header {
    width: 1920px;
    height: 900px;
    background: url("../img/header_bg.png") no-repeat center top;

    .container {

        .top_bar_menu {
            width: 100%;
            height: 100px;
            display: block;
            margin: 0;
            border-bottom: 1px solid rgba(161,161,161, 0.5);
            
            ul {
                display: inline-block;
                float: right;
                margin: 0 385px 0 0;
    
                li {
                    float: left;
                    display: inline-block;
                    padding: 40px 20px 40px 20px;
    
                    a {
                        color: #fff;
                        text-decoration: none;
                    }
                }
                li:nth-child(1) {
                    border-bottom: 2px solid #fff;
                }
            }
        }
        .header_title {
            text-align: center;
            color: #fff;
    
            p {
                margin: 219px 0 20px 0;
            }
            h1 {
                width: 829px;
                font-size: 48px;
                margin: 0 auto;
            }
            .btn {
                width: 200px;
                height: 45px;
                display: block;
                margin-top: 50px;
                margin: 50px auto 335px auto;
                color: #fff;
                text-align: center;
                padding: 13px 16px;
                background: #4985FF;
                border-radius: 200px;
                text-decoration: none;
            }
        }
    }
}
.section_2 {
    width: 1920px;

    .container {

        .block {
            width: 1113px;
            margin: 110px auto 105px;

            h2 {
                width: 739px;
                height: 88px;
                text-align: center;
                margin: 0 auto 50px;
                font-size: 36px;
            }
            p {
                width: 730px;
                height: 41px;
                text-align: center;
                margin: 0 auto 70px;
                color: #999;
            }
            .contents {
                display: flex;
                justify-content: space-between;

                .content {
                    width: 353px;
                    height: 159px;
                    
                    img {
                        width: 110px;
                    }
                    .content_title {
                        width: 226px;
                        float: right;

                        h3 {
                            margin: 46px 0 0 17px;
                            width: 226px;
                            display: inline-block;
                            font-size: 18px;
                        }
                        p {
                            width: 226px;
                            height: 55px;
                            margin: 12px 0 0 0;
                            display: inline-block;
                            font-size: 14px;
                        }
                    }
                }
            }
            .btn {
                width: 200px;
                height: 45px;
                display: block;
                margin: 55px auto 105px;
                color: #fff;
                text-align: center;
                padding: 13px 16px;
                background: #4985FF;
                border-radius: 200px;
                text-decoration: none;
            }
        }
    }
}
.section_3 {
    width: 1920px;height: 797px;
    background: #F6F6F8;

    .container {

        .block {
            width: 1110px;
            margin: 100px auto 70px;
            
            .title {
                display: inline-block;
                width: 489px;
                height: 400px;
                margin: 54px 0 90px;
                
                h2 {
                    font-size: 36px;
                }
                p {

                }
            }
            img {
                float: right;
                width: 500px;
                height: 400px;
            }
            hr {
                border: 1px solid #E0E0E0
            }
            .apps {
                display: flex;
                justify-content: space-between;
                width: 920px;
                margin: 70px 0 70px;

                .app {
                    display: inline-block;
                    width: 104px;height: 67px;

                    img {
                        float: left;
                        margin-top: 9px;
                        width: 30px;height: 26px;
                    }
                    p {
                        float: right;
                        display: inline-block;
                        margin: 0;
                        font-size: 36px;
                    }
                    p:nth-child(3) {
                        font-size: 16px;
                        color: #999;
                        padding-top: 17px;
                    }
                }
            }
        }
    }
}
.section_4 {
    height: 490px;
    margin-bottom: 482px;
    background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%), linear-gradient(0deg, #C4C4C4, #C4C4C4);

    .container {
        width: 1110px;
        margin: 0 auto;
        position: relative;

        .section_4_title {
            h2 {
                display: inline-block;
                width: 540px;
                color: #fff;
                margin: 100px 0 70px 0;
                font-size: 36px;
                line-height: 3.6rem;
            }
            .btn {
                float: right;
                width: 200px;
                height: 45px;
                display: inline-block;
                margin: 140px auto 93px;
                color: #fff;
                text-align: center;
                padding: 13px 16px;
                background: #4985FF;
                border-radius: 200px;
                text-decoration: none;
            }
        }
        .content {
            position: absolute;
            width: 350px;
            height: 544px;
            top: 270px;

            h4 {
                margin: 30px 0;

                span {
                    color: #4985FF;
                }
            }
            p {
                margin: 0;
            }
            a {
                position: absolute;
                left: 0;
                bottom: 0;
            }
        }
        .content:nth-child(3) {
            left: 380px;
        }
        .content:nth-child(4) {
            right: 0;
        }
    }
}
.bg1 {
    position: relative;
    width: 1110px;
    height: 482px;
    margin: 204px auto 0;

    hr {
        position: absolute;
        display: inline-block;
        width: 100%;
        border: 1px solid #e0e0e0;
        margin: 0 85px;
        bottom: 85px;
        left: -90px;
    }
}
.section_5 {
    width: 1920px;
    height: 776px;
    background: #F6F6F8;

    .container {
        width: 1110px;
        margin: 0 auto;

        h2 {
            text-align: center;
            padding: 100px 0 50px 0;
        }
        p {
            width: 730px;
            margin: 0 auto 70px;
            text-align: center;
            color: #999;
        }
        .img {
            width: 1110px;
            display: flex;
            justify-content: space-between;
        }
        .btn {
            width: 200px;
            height: 45px;
            display: block;
            margin: 50px auto 130px;
            color: #fff;
            text-align: center;
            padding: 13px 16px;
            background: #4985FF;
            border-radius: 200px;
            text-decoration: none;
        }
    }
}
.section_6 {
    position: relative;
    width: 1920px;height: 570px;
    background: url("../img/section_6_bg.png") no-repeat center top;
    margin: 0 0 80px 0;
    
    .container {
        width: 970px;height: 430px;
        background: url("../img/section_6_img.png") no-repeat center top;
        position: absolute;
        top: 220px;
        left: 475px;

        .butt {
            width: 300px;height: 100px;
            position: absolute;
            top: 165px;left: 335px;
            border: 1px solid #fff;
            border-radius: 200px;
            color: #fff;
            text-decoration: none;

            img {
                margin: 20px 21px 20px 40px;
                background: #4985FF;
                border-radius: 100px;
            }
            p {
                position: absolute;
                display: inline-block; 
                top: 26px;
                right: 29px;
            }
        }
    }
}
.section_7 {
    width: 1920px;

    .container {
        width: 1110px;
        margin: 165px auto 0;

        hr {
            width: 1110px;
            border: 1px solid #e0e0e0;
            margin: 0px auto 85px;
        }
        .post {
            position: relative;
            h3 {
                font-size: 18px;
                margin: 0 0 20px 0;
                text-align: center;
            }
            p {
                margin-bottom: 30px;
                text-align: center;
                color: #999;
            }
            input {
                display: block;
                width: 489px;
                height: 45px;
                margin: 0 auto 35px;
                border-radius: 200px;
                padding: 15px 0 13px 33px;
                border: none;
                box-shadow: 0px 0px 8px #999;
            }
            label {
                position: absolute;
                width: 190px;
                height: 45px;
                color: #fff;
                background: #4985FF;
                bottom: 0;
                right: 310px;
                border-radius: 200px;
                line-height: 45px;
                text-align: center;
            }
        }
        p {
            text-align: center;
            font-size: 13px;
            color: #999;
            margin-bottom: 85px;
        }
    }
}
.section_8 {
    width: 1920px;
    height: 413px;
    background: #f6f6f6;

    .container {
        width: 1100px;
        margin: 0 auto;
        
        .section_8_contents {
            display: flex;
            justify-content: space-between;

            .section_8_content {
                width: 255px;
                height: 198px;
                margin: 70px 30px 0 0;
                color: #999;

                h3 {
                    color: #000;
                    font-size: 18px;
                }
                a {
                    display: block;
                    margin: 30px 0;
                    font-size: 14px;
                    
                    img, i {
                        margin-right: 17px;
                    }
                }
            }
            .section_8_content:nth-child(4) {
                margin-right: 0;
            }
        }
    }
}
.footer {
    background: #f6f6f6;
    .container {
        width: 1110px;
        margin: 0 auto;
        border-top: 1px solid #e0e0e0;
        
        p {
            margin: 0;
            text-align: center;
            font-size: 13px;
            color: #999;
            padding: 30px 0;
        }
    }
}
